{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<div class="detail-page-row">

    {% if user.image_url %}
    <div class="image-div">
        <img src="{{ user.image_url }}"
             alt="{{ user.full_name }}"
             class="detail-img">
    </div>
    {% endif %}

    <div class="detail-form-container">
        <h1>{{ user.full_name }}</h1>

        <form>
            <button class="edit-btn"
                    type="submit"
                    formaction="/users/{{ user.user_id }}/edit"
                    formmethod="GET">Edit
            </button>
            <button class="delete-btn"
                    formaction="/users/{{ user.user_id }}/delete"
                    formmethod="Post">Delete
            </button>
        </form>

        <h2>Posts</h2>

        <ul>
            {% for post in user.posts %}
            <li>
                <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                <span>{{ post.formatted_date }}</span>
            </li>
            {% endfor %}   
        </ul>
        
        <a href="/users/{{ user.user_id }}/posts/new" class="add-post-btn">Add Post</a>

    </div>
</div>
{% endblock %}